In [1]:
import numpy as np

In [3]:
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [13]:
a2 = np.array([[1,2.3,3],
               [4,5,6.6]])

a3 = np.array([
              [[1,2,3],
              [4,5,6],
              [7,8,9]],
              [[10,11,12],
              [13,14,15],
              [16,17,18]]])

In [9]:
a2

array([[1. , 2.3, 3. ],
       [4. , 5. , 6.6]])

In [14]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [19]:
a2.shape

(2, 3)

In [16]:
a1.shape

(3,)

In [18]:
a3.shape

(2, 3, 3)

In [21]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [22]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [23]:
type(a1),type(a2),type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [24]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [25]:
# Create a DataFrame from numpy array
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.3  3.0
1  4.0  5.0  6.6

In [26]:
# 2.Creating Arrays

In [3]:
import pandas as pd
import numpy as np

In [7]:
ones = np.ones((2,3),dtype=int)
ones

array([[1, 1, 1],
       [1, 1, 1]])

In [14]:
zeros = np.zeros((2,3,4),dtype=int)

In [16]:
zeros

array([[[0, 0, 0, 0],
        [0, 0, 0, 0],
        [0, 0, 0, 0]],

       [[0, 0, 0, 0],
        [0, 0, 0, 0],
        [0, 0, 0, 0]]])

In [17]:
rans = np.arange(0,10,3)

In [18]:
rans

array([0, 3, 6, 9])

In [34]:
rands = np.random.randint(0,20,size=(4,3,3),dtype=int)

In [35]:
rands

array([[[ 6,  4,  7],
        [ 4,  1, 14],
        [15, 11,  6]],

       [[10, 18, 13],
        [ 4,  6, 13],
        [18,  3, 11]],

       [[ 5, 14,  0],
        [17,  4,  6],
        [ 1,  7,  8]],

       [[15, 18, 16],
        [ 8,  2,  5],
        [ 0, 13, 11]]])

In [28]:
rands.shape

(4, 3, 3)

In [52]:
np.random.seed(2)
rand_2 = np.random.randint(100,size=(3,4))
rand_2

array([[40, 15, 72, 22],
       [43, 82, 75,  7],
       [34, 49, 95, 75]])

In [53]:
rand_2

array([[40, 15, 72, 22],
       [43, 82, 75,  7],
       [34, 49, 95, 75]])

# 3. Viewing arrays and matrix

In [54]:
np.unique(rand_2)

array([ 7, 15, 22, 34, 40, 43, 49, 72, 75, 82, 95])

In [55]:
a3

NameError: name 'a3' is not defined

In [56]:
a1 = np.array([1,2.3,3])

a2 = np.array([[1,2.3,3],
               [4,5,6.6]])

a3 = np.array([
              [[1,2,3],
              [4,5,6],
              [7,8,9]],
              [[10,11,12],
              [13,14,15],
              [16,17,18]]])

In [57]:
a1[1]

2.3

In [59]:
a2[0][1]

2.3

In [65]:
a3[:2,:2,:3]

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[10, 11, 12],
        [13, 14, 15]]])

In [66]:
rand_3 = np.random.randint(10,size=(2,3,4,5))

In [67]:
rand_3

array([[[[5, 4, 4, 5, 7],
         [3, 6, 4, 3, 7],
         [6, 1, 3, 5, 8],
         [4, 6, 3, 9, 2]],

        [[0, 4, 2, 4, 1],
         [7, 8, 2, 9, 8],
         [7, 1, 6, 8, 5],
         [9, 9, 9, 3, 0]],

        [[0, 2, 8, 8, 2],
         [9, 6, 5, 6, 6],
         [6, 3, 8, 2, 1],
         [4, 8, 1, 6, 9]]],


       [[[5, 1, 2, 4, 7],
         [6, 4, 5, 8, 3],
         [0, 0, 5, 7, 5],
         [0, 8, 6, 5, 1]],

        [[7, 4, 3, 6, 1],
         [4, 0, 8, 5, 4],
         [2, 9, 7, 1, 9],
         [2, 1, 0, 7, 1]],

        [[8, 9, 0, 7, 0],
         [5, 2, 5, 1, 3],
         [3, 1, 8, 6, 8],
         [1, 5, 7, 0, 9]]]])

In [69]:
rand_3.shape,rand_3.ndim

((2, 3, 4, 5), 4)

In [81]:
rand_3[1:,2:,2:,3:]

array([[[[6, 8],
         [0, 9]]]])

## 3.Manipulating Data
### Arithmetic

In [120]:
a2 = np.array([[1,2.3,3],
               [4,5,6.6]])

In [121]:
a2.shape

(2, 3)

In [122]:
a2=a2.reshape(2,3,1)
a2

array([[[1. ],
        [2.3],
        [3. ]],

       [[4. ],
        [5. ],
        [6.6]]])

In [123]:
a2*a3

array([[[  1. ,   2. ,   3. ],
        [  9.2,  11.5,  13.8],
        [ 21. ,  24. ,  27. ]],

       [[ 40. ,  44. ,  48. ],
        [ 65. ,  70. ,  75. ],
        [105.6, 112.2, 118.8]]])

In [125]:
a2

array([[[1. ],
        [2.3],
        [3. ]],

       [[4. ],
        [5. ],
        [6.6]]])

In [124]:
# Transpose = switches the axis
a2.T

array([[[1. , 4. ],
        [2.3, 5. ],
        [3. , 6.6]]])

In [126]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [127]:
a3.T

array([[[ 1, 10],
        [ 4, 13],
        [ 7, 16]],

       [[ 2, 11],
        [ 5, 14],
        [ 8, 17]],

       [[ 3, 12],
        [ 6, 15],
        [ 9, 18]]])

# 3. Dot Product

In [128]:
mat1 = np.random.randint(10,size=(5,3))
mat2 = np.random.randint(10,size=(5,3))

In [134]:
mat1,mat2.T

(array([[1, 5, 9],
        [2, 0, 0],
        [4, 6, 3],
        [1, 8, 5],
        [9, 5, 4]]),
 array([[2, 7, 8, 8, 1],
        [7, 3, 6, 8, 3],
        [8, 4, 3, 5, 3]]))

In [130]:
mat3 = np.dot(mat1,mat2.T)

In [131]:
mat3

array([[109,  58,  65,  93,  43],
       [  4,  14,  16,  16,   2],
       [ 74,  58,  77,  95,  31],
       [ 98,  51,  71,  97,  40],
       [ 85,  94, 114, 132,  36]])

# Dot Product sale (nut butter sales)

In [135]:
import pandas as pd

In [137]:
np.random.seed(0)
sales_amounts = np.random.randint(20,size=(5,3))
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [159]:
#Creating dataFrame 
weekly_sale = pd.DataFrame(sales_amounts,
                          index=["Mon","Tue","wed","Thu","Fri"],
                          columns=["Almond Butter","Peanet Butter","cashew Butter"])
weekly_sale

     Almond Butter  Peanet Butter  cashew Butter
Mon             12             15              0
Tue              3              3              7
wed              9             19             18
Thu              4              6             12
Fri              1              6              7

In [157]:
np.random.seed(1)
price = np.random.randint(10,size=(1,3))

In [167]:
butter_price = pd.DataFrame(price,index=["price"],
                           columns=["Almond Butter","Peanet Butter","cashew Butter"])
butter_price

       Almond Butter  Peanet Butter  cashew Butter
price              5              8              9

In [168]:
price

array([[5, 8, 9]])

In [169]:
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [170]:
total_price = butter_price.dot(weekly_sale.T)

In [171]:
total_price

       Mon  Tue  wed  Thu  Fri
price  180  102  359  176  116

In [172]:
weekly_sale["Total Price"] = total_price.T

In [174]:
weekly_sale

     Almond Butter  Peanet Butter  cashew Butter  Total Price
Mon             12             15              0          180
Tue              3              3              7          102
wed              9             19             18          359
Thu              4              6             12          176
Fri              1              6              7          116

# Soring Array

In [176]:
random_array = np.random.randint(10,size=(3,5))
random_array

array([[7, 9, 1, 7, 0],
       [6, 9, 9, 7, 6],
       [9, 1, 0, 1, 8]])

In [177]:
np.sort(random_array)

array([[0, 1, 7, 7, 9],
       [6, 6, 7, 9, 9],
       [0, 1, 1, 8, 9]])

In [178]:
np.argsort(random_array)

array([[4, 2, 0, 3, 1],
       [0, 4, 3, 1, 2],
       [2, 1, 3, 4, 0]], dtype=int64)

# Numpy in action

In [191]:
#Trun image in into numpy array
from matplotlib.image import imread
panda = imread("images/panda.png")

In [192]:
panda[:3]

array([[[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]],

       [[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]],

       [[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]]], dtype=float32)

In [193]:
<img src="images/dog-photo.png"/>

SyntaxError: invalid syntax (<ipython-input-193-2c03ec7a52f0>, line 1)